## **Corrección Parcial 1**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt
import altair as alt
from vega_datasets import data

In [2]:
pd.set_option('display.max_columns', None) #Mostrar todas las columnas
sns.set(rc={'figure.figsize':(12.7,8.6)}) #Ajustar tamaño de las graficas

In [3]:
datos = pd.read_csv('student-mat.csv', 
                 sep = ';',
                 #index_col=0,
                 index_col=False,
                 error_bad_lines=False,
                )
datos.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

¿Existen valores vacíos o 
nulos para alguna de las variables del dataset? Rta:/ No existen datos vacios

In [4]:
datos.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

**1.** ¿Cuántos estudiantes viven en zona urbana o rural? ¿Cuántos de los estudiantes rurales 
son mujeres y cuántas son hombres?

In [53]:
#Total de estudiantes que viven en la zona urbana
Urbana = sum(datos['address']=="U") 
Urbana

307

In [52]:
#Total de estudiantes que viven en la zona rural
Rural = sum(datos['address']=="R") 
Rural

88

In [51]:
#Estudiantes rurales que son mujeres
RM = sum((datos['address'] =='R') & (datos['sex']=='F')) 
RM

44

In [50]:
#Estudiantes rurales que son hombres
RH = sum((datos['address'] =='R') & (datos['sex']=='M')) 
RH

44

**2.** ¿Cuántos estudiantes que viven en la zona rural se demoran en transportarse para llegar 
de la casa al colegio más de una hora? ¿Cuántos de ellos son mujeres y cuántos son 
hombres?

In [20]:
#Estudiantes rurales que se demoran mas de una hora de transporte
RT = sum((datos['address'] =='R') & (datos['traveltime']==4))
RT

5

In [21]:
#Estudiantes rurales que se demoran mas de una hora de transporte: Mujeres
RTM = sum((datos['address'] =='R') & (datos['traveltime']==4) & (datos['sex']=='F'))
RTM

1

In [22]:
#Estudiantes rurales que se demoran mas de una hora de transporte: Hombres
RTH = sum((datos['address'] =='R') & (datos['traveltime']==4) & (datos['sex']=='M'))
RTH

4

**3.** ¿Cuántos estudiantes que viven en la zona rural tienen más de 5 fallas? ¿Cuántos de ellos 
son mujeres y cuántos son hombres?

In [45]:
# Estudiantes que viven en la zona rural con más de 5 fallas
RF = sum((datos['address'] =='R') & (datos['failures']>3))
RF

0

**4.** ¿Cuántos estudiantes tienen madres y padres con un grado de escolaridad por encima de 
la educación secundaria?

In [44]:
# Estudiantes con madres y padres con un grado de escolaridad por encima de la secundaria
RP = sum((datos['Medu'] == 4) & (datos['Fedu'] == 4))
RP

70

**5.** Se quiere ver la media de las notas de matemáticas de los estudiantes del colegio Gabriel 
Pereira vs Mousinho da Silveira, teniendo en cuenta si los estudiantes tienen o no internet 
en sus casas. Realice una visualización de datos teniendo en cuenta estas 3 variables.

In [30]:
datos2 = datos[['school','internet','G1','G2','G3']] #Un nuevo data frame con las columnas que se necesitan
pd.pivot_table(datos2, index=['school','internet'], aggfunc= np.mean)

                        G1         G2         G3
school internet
GP     no        10.538462   9.903846   9.673077
       yes       11.010101  10.936027  10.632997
MS     no         9.785714   9.000000   8.428571
       yes       11.062500  10.718750  10.468750

**6.** Cree una nueva variable en la tabla que corresponda a la calificación total para cada uno 
de los estudiantes y responda ¿Cuál es la media, mediana, mínima y máxima calificación 
total?

In [49]:
datos['NotaDef'] = (datos['G1'] + datos['G2'] + datos['G3'])/3 #Nueva Variable: Nota Total o Definitiva

In [54]:
media = np.mean(datos['NotaDef'])
mediana = np.median(datos['NotaDef'])
minimo = np.min(datos['NotaDef'])
maximo = np.max(datos['NotaDef'])

In [39]:
media

10.679324894514782

In [40]:
mediana

10.666666666666666

In [55]:
minimo

1.3333333333333333

In [56]:
maximo

19.333333333333332

**7.** Teniendo en cuenta que el dataset contiene tanto variables numéricas como variables 
categóricas responda ¿Qué tipo de análisis realizaría: Regresión o clasificación? Si fuera 
regresión o clasificación: ¿Qué variable usaría para predecir o clasificar? ¿Cuáles variables 
tiene la hipótesis que podrían servir para pronosticar o clasificar?

Rta/: *A partir de los datos se podria realizar un analisis de regresión para predecir la calificación teniendo en cuenta todas las variables, principalmente tiempo de estudio, genero, colegio, internet, zona donde vive entre otras.*

*Por ejemplo: NotaDef = B0 + B1(studytime) + B2(address) + B3(school) + ... + e*