In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt
import altair as alt
from vega_datasets import data

In [2]:
pd.set_option('display.max_columns', None) #Mostrar todas las columnas
sns.set(rc={'figure.figsize':(12.7,8.6)}) #Ajustar tama√±o de las graficas

In [7]:
datos = pd.read_csv('student-mat.csv', 
                 sep = ';',
                 #index_col=0,
                 index_col=False,
                 error_bad_lines=False,
                )
datos.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [47]:
datos.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [16]:
datos.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

SOLUCION PUNTO 1:

In [38]:
rurales = sum(datos['address']=="R")
rurales

88

In [39]:
urbano = sum(datos['address']=="U")
urbano

307

In [48]:
RM = sum((datos['address'] =='R') & (datos['sex']=='M'))
RM

44

In [49]:
RF = sum((datos['address'] =='R') & (datos['sex']=='F'))
RF

44

SOLUCION PUNTO 2

In [52]:
RT = sum((datos['address'] =='R') & (datos['traveltime']==4))
RT

5

In [53]:
RTM = sum((datos['address'] =='R') & (datos['traveltime']==4) & (datos['sex']=='F'))
RTM

1

In [54]:
RTH = sum((datos['address'] =='R') & (datos['traveltime']==4) & (datos['sex']=='M'))
RTH

4

SOLUCION PUNTO 3

In [55]:
RF = sum((datos['address'] =='R') & (datos['failures']>4))
RF

0

SOLUCION PUNTO 4

In [58]:
RP = sum((datos['Medu'] == 4)&(datos['Fedu'] == 4))
RP

70

In [59]:
RPM = sum((datos['Medu'] == 4)&(datos['Fedu'] == 4)& (datos['sex']=='F'))
RPM

33

In [60]:
RPH = sum((datos['Medu'] == 4)&(datos['Fedu'] == 4)& (datos['sex']=='M'))
RPH

37

SOLUCION PUNTO 5

In [85]:
datos2 = datos[['school','internet','G1','G2','G3']]
datos2['Nota Definitiva'] = (datos2['G1']+datos2['G2']+datos2['G3'])/3
datos2 = datos2[['school','internet','Nota Definitiva']]
pd.pivot_table(datos2, index=['school','internet'], aggfunc= np.mean)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 Nota Definitiva
school internet
GP     no              10.038462
       yes             10.859708
MS     no               9.071429
       yes             10.750000

SOLUCION PUNTO 6

In [86]:
datos['NotaDef'] = (datos['G1'] + datos['G2'] + datos['G3'])/3

In [87]:
import statistics as st
media = st.mean(datos['NotaDef'])
mediana = st.median(datos['NotaDef'])
min = np.min(datos['NotaDef'])
max = np.max(datos['NotaDef'])
print(media, mediana, min, max)

10.679324894514767 10.666666666666666 1.3333333333333333 19.333333333333332